

#root {
max-width: 1280px;
margin: 0 auto;
padding: 2rem;
text-align: left; 
}

h1 {
text-align: center; 
margin: 2rem 0; 
}

.logo {
height: 6em;
padding: 1.5em;
will-change: filter;
transition: filter 300ms;
}

.logo:hover {
filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
from {
transform: rotate(0deg);
}
to {
transform: rotate(360deg);
}
}

@media (prefers-reduced-motion: no-preference) {
a:nth-of-type(2) .logo {
animation: logo-spin infinite 20s linear;
}
}

.card {
padding: 2em;
margin-bottom: 2rem; 
}

.read-the-docs {
color: #888;
}


button {
background-color: #007bff; 
color: white; 
padding: 0.5em 1.5em; 
border: none; 
gap: 10px;
border-radius: 0.25em; 
cursor: pointer; 
transition: background-color 300ms; 
margin-bottom: 1rem; 
}


button:hover {
background-color: #8ab6e0; 
}


input[type="text"], input[type="email"], input[type="password"], textarea {
width: 100%; 
padding: 1em; 
margin-bottom: 1.5rem; 
font-size: 16px;
border: 1px solid #ccc; 
border-radius: 0.25em; 
}


textarea {
resize: vertical; 
}

