/*#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
*/




#root {
max-width: 1280px;
margin: 0 auto;
padding: 2rem;
text-align: left; 
}

h1 {
text-align: center; 

centrados /
margin: 2rem 0; / Margen superior e inferior */
}

.logo {
height: 6em;
padding: 1.5em;
will-change: filter;
transition: filter 300ms;
}

.logo:hover {
filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
from {
transform: rotate(0deg);
}
to {
transform: rotate(360deg);
}
}

@media (prefers-reduced-motion: no-preference) {
a:nth-of-type(2) .logo {
animation: logo-spin infinite 20s linear;
}
}

.card {
padding: 2em;
margin-bottom: 2rem; 
}

.read-the-docs {
color: #888;
}


button {
background-color: #007bff; / Color de fondo original /
color: white; / Color del texto /
padding: 0.5em 1.5em; / Espaciado adecuado /
border: none; / Sin borde /
border-radius: 0.25em; / Bordes redondeados /
cursor: pointer; / Cambia el cursor a puntero /
transition: background-color 300ms; / Transición para el cambio de color /
margin-bottom: 1rem; / Espaciado inferior entre botones */
}


button:hover {
background-color: #8ab6e0; / Celeste claro */
}


input[type="text"], input[type="email"], input[type="password"], textarea {
width: 100%; / Ancho completo /
padding: 1em; / Aumenta el espaciado interno /
margin-bottom: 1.5rem; / Espaciado inferior entre inputs /
font-size: 16px; / Aumenta el tamaño de la fuente /
border: 1px solid #ccc; / Borde /
border-radius: 0.25em; / Bordes redondeados */
}


textarea {
resize: vertical; / Permite redimensionar verticalmente */
}

